<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Return to <%= link_to @list.name, list_posts_path(@list) %>
        </h4>
    </div>
    <div class="panel-body">
        <p>
            <% @list.posts.each do |post| %>
                <%= link_to post.content, [post.list, post] %>
                <p>
                    <div class="countdown" data-countdown="<%= post.expires_at %>"></div>
                </p>
                <br>
                <br>
                <script type = "text/javascript">
                    $('[data-countdown]').each(function() {
                        var $this = $(this), finalDate = $(this).data('countdown');
                        $this.countdown(finalDate, function(event) {
                            $this.html(event.strftime('%-D:singular,plural; days %-H hours %-M minutes %-S seconds'));
                        });
                        $this.on('finish.countdown', function(event){
                            $(this).text("Completed!");
                        });
                    });
                </script>
            <% end %>
        </p>
        
        <footer>
            <%= link_to "List Options" %>
        </footer>
    </div>
</div>