<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <%= link_to @list.name, list_posts_path(@list) %>
        </h4>
    </div>
    <div class="panel-body">
        <footer>
            <%= link_to "List Options" %>
        </footer>
    </div>
</div>
