<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            My Lists
        </h4>
    </div>
    <div class="panel-body">
        <p>
            <% for @list in @lists %>
                <%= link_to @list.name, list_posts_path(@list) %>
                <span style="float:right;" class="glyphicon glyphicon-option-vertical"></span>
                <hr>
            <% end %>
        </p>
    </div>
</div>
