<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <%= link_to "Upcoming (All Lists)" %>
                </h4>
            </div>
            <div class="panel-body">
                <footer>
                    Lorem Ipsum
                </footer>
            </div>
        </div>
        
        <hr>
        
        <% for @list in @lists %>
            <%= render '/lists/lists' %>
        <% end %>
        
        <hr>
        
    </div>
    <div class ="col-sm-4">
        <%= render 'lists/list_form' %>
        <%= render 'layouts/footer' %>
    </div>
</div>
