<div class="row comments-scroll">
    <div class = "col-sm-12">
        <% @post.comments.each do |comment| %>
            <span class="g-links" aria-hidden="true">
                <%= comment.username %>  
            </span>
            <p>
                <%= comment.content %>
            </p>
            <span class="g-links" aria-hidden="true">
                <%= local_time_ago(comment.created_at) %>
            </span>
            <span class="g-links" aria-hidden="true">
                  <%= link_to 'Delete', [@list, comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
            <hr>
        <% end %>
    </div>
</div>
