<div class="row">
    <div class="col-sm-4">
        <%= render 'layouts/groups' %>
    </div>
    <div class="col-sm-8">
        <% @posts.each do |post| %>
            <% if post.expires_at > Time.now %>
                <%= render 'posts/posts', :post => post %>
            <% end %>
        <% end %>
        <hr>
    </div>
</div>