<br>
<br>
<div class="row">
    <div class="col-sm-8">
        <%= render '/layouts/posts' %>
    </div>
    <div class="col-sm-4">
        <%= render '/layouts/popular' %>
        <%= render '/layouts/footer' %>
    </div>
</div>