<% if !user_signed_in? %>

    <style>
        body {
            background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
            url("bg.jpg") no-repeat center center fixed;
            background-size: cover;
        }
        h1 {
            color:white;
            font-weight: bold;
        }
        p {
            color:white;
            font-weight: 300;
            font-size: 150%;
        }
        .panel {
            display: inline-block;
            padding: 20px;
        }
        .container-index {
            margin-left: 15%;
            margin-right: 15%;
        }
        
        .footer-links {
            text-align: center;
            color: white;
            font-size: 75%;
        }
    </style>
    
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>
                Welcome to Listapp
            </h1>
            <p class="text">
                Find out what everyone else is doing. <br>
                Let everyone know what you're doing. <br>
                Organize your life and never miss out again!
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <%= render 'layouts/signup_form' %>
        </div>
        <div class="col-sm-12">
            <footer><p class="footer-links">
                @ 2017 Listapp About Help Terms Privacy Cookies Ads Info Brand Blog Status Apps Jobs Advertise Business Media Developers</p>
            </footer>
        </div>
    </div>

<% else %>

<script>
    document.location = "/posts"
</script>

<% end %>