<div class="row">
    <div class="col-sm-4">
        <%= render 'layouts/groups' %>
    </div>
    <div class="col-sm-8">
        <% @posts.reorder(:cached_votes_total => :desc).each do |post| %>
            <% if post.list.user_id == current_user.id %>
                <%= render 'posts/posts', :post => post %>
            <% end %>
        <% end %>
        <hr>
    </div>
</div>