<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <%= render 'layouts/groups' %>
        <% Post.all.reorder(:cached_votes_total => :desc).each do |post| %>
            <%= render 'posts/posts', :post => post %>
        <% end %>
        <%= render 'layouts/footer' %>
    </div>
</div>