<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-8">
        <% User.all.each do |user| %>
            <%= user.username %>
            <hr>
        <% end %>
        <hr>
    </div>
</div>