<% if controller.controller_name == "posts" %>
    <%= link_to new_list_post_path, class:"btn btn-default btn-block" do%>
        <span class="glyphicon glyphicon-plus"></span> New Countdown
    <% end %>
<% end %>