<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <%= render '/layouts/groups' %>
        <% @list.posts.each do |post| %>
            <% if post.expires_at > Time.now %>
                <%= render '/posts/posts', :post => post %>
            <% end %>
        <% end %>
        <%= render '/layouts/footer' %>
    </div>
</div>