/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'bootstrap-select';

@font-face {
    font-family: 'SansPosterBold'; src: font-url('SansPosterBold.ttf') format('truetype');
}

.glyphicon {
    font-family: inherit;
}
.glyphicon:before{
    font-family:'Glyphicons Halflings';
}

body {
    background-color: rgba(212, 216, 212, 0.3);
    padding-top: 70px;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    font-family: "SansPosterBold";
    font-size: 300%;
}

.well {
    margin-top: 10px;
}

.panel-heading {
    background-color: #d2edf4;
    background-image: linear-gradient(to bottom, #f9f2c9, #e1bc97 100%);
}

.badge-notify {
    z-index: 100;
    position:relative;
    margin-right: -30px;
    -moz-transform: translate(-90%, 80%); /* For Firefox */
    -ms-transform: translate(-90%, 80%); /* for IE */
    -webkit-transform: translate(-90%, 80%); /* For Safari, Chrome, iOS */
    -o-transform: translate(-90%, 80%); /* For Opera */
    background-color: #ff4d4d;
}

.comments-scroll {
    max-height: 300px;
    overflow-y:scroll; 
}

.img-responsive-show {
    max-width: 100%;
    width: 100%;
    margin-top: -25px;
    margin-left: -15px;
}

.img-responsive-posts {
    width: 100%;
    //margin-left: -30px;
    //margin-top: -15px;
    height: 150px;
    object-fit: cover;
}