/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import 'bootstrap-select';

@font-face {
    font-family: 'Remachine'; src: font-url('SansPosterBold.ttf') format('truetype');
}

body {
    background-color: rgba(212, 216, 212, 0.5);
    padding-top: 70px;
}

.navbar {
    background-color: white;
}

.g-links {
    text-align: left;
    opacity: 0.7;
    margin-right: 75px;
}

.navbar-brand {
    font-family: "Remachine";
    font-size: 300%;
}

.well {
    margin-top: 10px;
}

.panel-heading {
    background-color: #d2edf4;
    background-image: linear-gradient(to bottom, #f9f2c9, #e1bc97 100%);
}