<footer><p style="opacity: .5; font-size: 90%; text-align: center;">
    @ 2017 Listapp About Help Terms Privacy Cookies Ads Info Brand Blog Status Apps Jobs Advertise Business Media Developers</p>
</footer>