<div class="panel panel-default">
    <div class="panel-body">
        <h4>Groups</h4>
        <a href="">Group X</a><br>
        <span>12 Events</span><br><br>
        <a href="">Group Y</a><br>
        <span>8 Events</span><br><br>
        <a href="">Group Z</a><br>
        <span>15 Events</span><br><br>
    </div>
</div>