<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="panel-title">
        <a class="btn btn-default" data-toggle="collapse" href="#collapse1">
          Current List: All <span class="caret text-right"></span>
        </a>
        <span style="float:right;" aria-hidden="true" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">New Countdown</span>
      </h4>
    </div>  
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Random Saved List</li>
        <li class="list-group-item">Concerts</li>
        <li class="list-group-item">Birthdays</li>
      </ul>
      <div class="panel-footer">
        <a href="">More Groups</a>
      </div>
    </div>
  </div>
</div>
