<div class="panel panel-default">
    <div class="panel-body">
        <h4>Popular</h4>
        <% Post.reorder(:cached_votes_total => :desc).limit(5).each do |post| %>
        <%= link_to post.content, post %></a><br>
        <br>
        <% end %>
    </div>
</div>