<div class="panel panel-default">
    <div class="panel-body">
        <h4>Popular</h4>
        <a href="">Event A</a><br>
        <span>31 Likes</span><br><br>
        <a href="">Event B</a><br>
        <span>49 Likes</span><br><br>
        <a href="">Event C</a><br>
        <span>32 Likes</span><br><br>
        <a href="">Event D</a><br>
        <span>28 Likes</span><br><br>
    </div>
</div>