<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>
                    <a href="/user/<%= current_user.username %>"><%= @username %></a>
                </h4>
            </div>
            <div class="col-sm-6" style="opacity: 0.7; font-size: 80%;">
                POSTED EVENTS<br>
                <h6 style="font-size: 200%;">
                    <%= @posts.count %>
                </h6>
            </div>
            <div class="col-sm-6" style="opacity: 0.7; font-size: 80%;">
                SAVED EVENTS<br>
                <h6 style="font-size: 200%;">15</h6>
            </div>
            <div class="col-sm-6" style="opacity: 0.7; font-size: 80%;">
                CREATED GROUPS<br>
                <h6 style="font-size: 200%;">2</h6>
            </div>
            <div class="col-sm-6" style="opacity: 0.7; font-size: 80%;">
                JOINED GROUPS<br>
                <h6 style="font-size: 200%;">4</h6>
            </div>
        </div>
    </div>
</div>